.form {
  margin-top: 20px;;
}

.form__field {
  margin: 10px;
  width: 20%;
}

.form__warning {
  font-size: 16px;
  font-weight: 500;
  color: #FF0000;
  text-align: center;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

.btn {
  width: 60px;
  margin: 0 auto;
}

.btn:hover {
  cursor: pointer;
}

.btn:disabled {
  pointer-events: none;
}
