<div class="actions">
  <a routerLink="/form" class="actions__link">Додати</a>
  <a *ngIf="selectedOwner" [routerLink]="['/form', selectedOwner.id, 'edit']" class="actions__link">Редагувати</a>
  <a *ngIf="selectedOwner" [routerLink]="['/form', selectedOwner.id, 'read']" class="actions__link">Переглянути</a>
  <button *ngIf="selectedOwner" (click)="deleteOwner()" [disabled]="!selectedOwner" class="actions__link btn">Видалити</button>
</div>

<h2 *ngIf="owners" class="title">Виберіть власника</h2>

<table mat-table *ngIf="owners" [dataSource]="owners" class="mat-elevation-z8 demo-table">

  <ng-container matColumnDef="surname">
    <th mat-header-cell *matHeaderCellDef>Прізвище</th>
    <td mat-cell *matCellDef="let element">{{element.surname}}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Ім`я</th>
    <td mat-cell *matCellDef="let element">{{element.name}}</td>
  </ng-container>

  <ng-container matColumnDef="middleName">
    <th mat-header-cell *matHeaderCellDef>По батькові</th>
    <td mat-cell *matCellDef="let element">{{element.middleName}}</td>
  </ng-container>

  <ng-container matColumnDef="numberOfCars">
    <th mat-header-cell *matHeaderCellDef>Кількість автомобілів</th>
    <td mat-cell *matCellDef="let element">{{element.numberOfCars}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row (click)="onSelectOwner(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<p *ngIf="selectedOwner" class="selected-owner">
  {{selectedOwner.surname}}
  {{selectedOwner.name}}
  {{selectedOwner.middleName}}
</p>
